@using WebApp.Models;


<div class="header__cart">
    <div class="cart-wrap">
        @{
            if (Session["Carts"] != null)
            {
                List<Carts> temp = (List<Carts>)Session["Carts"];
                var count = temp.Sum(x => x.Quantity);
                <i class="cart-icon fas fa-cart-shopping"></i>
                <span  class="cart-name">Giỏ hàng</span>
                <span class="cart-notice">@count</span>
                <div class="header__cart-list">
                    <h4 class="header__cart-heading">
                        Sản phẩm đã thêm
                    </h4>
                    <ul class="cart-list-item">
                        @foreach (var cart in (List<Carts>)Session["Carts"])
                        {
                            <li class="cart-item">
                                <img src="~/images/Products/@cart.Product.hinh_sanpham" alt="" class="cart-img">
                                <div class="cart-item-info">
                                    <div class="cart-item-head">
                                        <h5 class="cart-item-name">@cart.Product.ten_sanpham</h5>
                                        <div class="cart-item-wrap">
                                            <span class="cart-item-price">@cart.Product.giamoi₫</span>
                                            <span class="cart-item-multiply">x</span>
                                            <span class="cart-item-qnt">@cart.Quantity</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-body">
                                        <span class="cart-item-desc">
                                            Phân loại:@cart.Product.Product_Group.tennhom
                                        </span>

                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                    <a href="@Url.Action("Index", "ShoppingCart")" class="cart-views btns btn--primary">Xem giỏ hàng</a>
                </div>

            }
            else

            {   <i class="cart-icon fas fa-cart-shopping"></i>
                <span  class="cart-name">Giỏ hàng</span>
                <span class="cart-notice">0</span>
                <div class="header__cart-list">
                    <img src="~/images/Products/no-cart-icon.png" alt="" class="cart-no-cart-img">
                    <span class="cart-list-no-cart">
                        Chưa có sản phẩm nào trong giỏ hàng!
                    </span>
                    <a href="@Url.Action("Index", "ShoppingCart")" class="cart-views btns btn--primary">Xem giỏ hàng</a>
                </div>
            }
        }
    </div>
</div>
